__pycache__/
.streamlit/
.vscode/
dataset-*/
mmaction2/
modules_weight/
output/
resources/
runs/
scripts-fusion-heetah/
scripts-fusion-stable/
test_ocr/
work_dirs/
.codex
data-fusion.yaml
data.yaml
STGCN_GUIDE.MD
train-fusion.py
train.py
yolo26n.pt